<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Animatinator Examples</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/bootstrap.css"/>
</head>
<body>
    <div class="navbar navbar-fixed-top bs-docs-nav" ng-controller="rootController">
        <div class="container">
            <a href="#/home" ng-click="animateAll()" class="navbar-brand">Animatinator Examples</a>
            <div class="nav-collapse collapse bs-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><div data-animatinator="home"></div><a href="#/home" ng-click="animate('home')">Home</a></li>
                    <li><div data-animatinator="about"></div><a href="#/home" ng-click="animate('about')">About</a></li>
                    <li><div data-animatinator="examples"></div><a href="#/home" ng-click="animate('examples')">Examples</a></li>
                    <li><div data-animatinator="media"></div><a href="#/home" ng-click="animate('media')">Media</a></li>
                </ul>
            </div>
            <div class="nav pull-right">
                <p class="btn-group">
                    <a class="btn btn-primary" href="https://github.com/timothyswt/animatinator/zipball/master"><i class="icon-white icon-download-alt"></i> Download ZIP</a>
                    <a class="btn" href="https://github.com/timothyswt/animatinator"><i class="icon-github"></i> Code on Github</a>
                    <a class="btn btn-primary" href="https://github.com/timothyswt/animatinator/tarball/master"><i class="icon-white icon-download-alt"></i> Download TAR</a>
                </p>
            </div>
        </div>
    </div>
    <div class="container well-large" style="margin-top: 150px;" ng-view></div>

    <!-- In production use:
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        -->
  <script src="lib/jquery-1.10.2.min.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/bootstrap/bootstrap.js"></script>
  <script src="js/animatinator.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
